.flexbox h2 {
    color: white;
    font-size: 40px;
    position: relative;
    text-align: center;
}

.flexbox h2::before {
    position: absolute;
    content: '';
    width: 15%;
    height: 3px;
    background-color: #3c2fce;
    bottom: 10px;
    border-radius: 5px;
}
.flexbox h3{
    color: white;
}
.box-container{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 2rem;
}
.box{
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    font-size: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}

fieldset{
    width: 20%;
    color: white;
    gap: 2rem;
    border: 1px solid transparent;
}

fieldset h3{
    margin-top: 0.5em;
}

fieldset p{
    margin-top: 0.5em;
}
#temporizador{
    text-align: center;
}
/*IMAGEM DE FUNDO DE CADA DIV*/

#box8{
    background-image: url("../img/noticias/fabio.jpeg");
}
#box7{
    background-image: url("../img/noticias/limpeza-aguas-lindas.jpeg");
}
#box6{
    background-image: url("../img/noticias/querencia.jpg");
}
#box5{
    background-image: url("../img/noticias/ano-novo.png");
}
#box4{
    background-image: url("../img/noticias/olavo.jpeg");
}
#box3{
    background-image: url("../img/noticias/nova_samu.jpeg");
}
#box2{
    background-image: url("../img/noticias/viatura.jpeg");
}
#box1{
    background-image: url("../img/noticias/tutela.jpeg");
}

.box:hover{
    box-shadow: 2px 2px 2px 2px  rgb(20, 5, 34);
    opacity: 0.6;
}
@media screen and (max-width: 1200px) {
    fieldset{
        width: 40%;
        margin-top: 1.5rem;
    }
}
@media screen and (max-width: 600px) {
    fieldset{
        width: 90%;
        margin-top: 1.5rem;
    }
}